.chatWrapper{
	position: relative;
	height: 400px;

}
#messageForm {
	position: relative;
	bottom: 4px;
}

#chatWindow {
	height: 350px;
	overflow: scroll;
	overflow-x: hidden;
	text-align: left;
	background-color: white;
  border-top-left-radius: 6px;
	padding: 6px;
}

.dialog {
	height: 300px;
	border: 1px solid red;
}

.insideText {
	text-shadow: 0 0 1px rgba(0,0,0,.5);
}

.outsideText {
	color: #fff;
}
