.chatWrapper{
	position: relative;
	height: 400px;

}
#messageForm {
	position: relative;
	bottom: 4px;
}

#chatWindow {
	height: 350px;
	background-color: white;
  border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 6px;
	text-align: left;
}

.dialog {
	height: 320px;
	overflow: scroll;
	overflow-x: hidden;
}

.typing {
	position: relative;
	top: 0px;
}

.insideText {
	text-shadow: 0 0 1px rgba(0,0,0,.5);
}

.outsideText {
	color: #fff;
}

.smallText {
	font-size: 12px;
}

.positiveAlert {
	color: green;
}

.negativeAlert {
	color: red;
}
